@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.selected-navbtn {
  @apply bg-sky-500;
}

.main-with-sidebar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2.5rem;
}

.main-with-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.programs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
